<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Empty Title
        {% endblock %}
    </title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
    <header>
        <p>
        <nav>
            <ul class="nav_links">
                {% comment %} <li><a href = "/upload">Upload</a></li> {% endcomment %}
                {% comment %} <li><a href = "/about" >About</a></li> {% endcomment %}
            </ul>
        </nav>
        <p>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>